<div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
        <hgroup>
            <h1 class="brand-title"><a href="{{ .Site.BaseUrl }}">{{ .Site.Title }}</a></h1>
            <h2 class="brand-tagline">{{ with .Site.Params.description }} {{.}} {{end}}</h2>
        </hgroup>

        <nav class="nav">
            <!-- Static Links -->
            <ul class="pure-menu-list">
              {{ $baseUrl := .Site.BaseUrl }}
              {{ range $element := .Site.Params.static_links }}
                <li class="pure-menu-link">
                  <a href="{{ $baseUrl }}/{{ urlize $element }}/">{{ $element }}</a>
                </li>
              {{ end }}
            </ul>

            <!-- Social Links -->
            <ul class="nav-list">
                {{ with .Site.Params.twitter }}
                <li class="nav-item">
                    <a class="pure-button" href="http://twitter.com/{{ . }}"><i class="fa fa-twitter"></i> Twitter</a>
                </li>
                {{ end }}
                {{ with .Site.Params.github }}
                <li class="nav-item">
                    <a class="pure-button" href="http://github.com/{{ . }} "><i class="fa fa-github-alt"></i> Github</a>
                </li>
                {{ end }}
                {{ with .Site.Params.facebook }}
                <li class="nav-item">
                    <a class="pure-button" href="http://www.facebook.com/{{ . }} "><i class="fa fa-facebook-alt"></i> Facebook</a>
                </li>
                {{ end }}
                {{ with .Site.Params.linkedin_url }}
                <li class="nav-item">
                    <a class="pure-button" href="{{ . }} "><i class="fa fa-linkedin-alt"></i> Linkedin</a>
                </li>
                {{ end }}
                <li class="nav-item">
                    <a class="pure-button" href="/index.xml"><i class="fa fa-rss-alt"></i> RSS</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
